LOGGED IN NOW : <%=CurrentUser%>

TEACHER NAME<%=teacher.name%>
<br>
TEACHER EMAIL<%=teacher.email%>
<p>
	
</p>
<img src="data:image/<%=teacher.DP.contentType%>;base64, <%=teacher.DP.data.toString('base64')%>" class="img-thumbnail" width="300px" >
<br>
EDUCATION DETAILS
TO BE FILLED
<br>
ABOUT ME
TO BE FILLED
<p>
	
</p>
HOURLY CHARGES
TO BE FILLED
<p>
	
</p>
AVAILABLE TIMINGS
TO BE FILLED
<p>
	
</p>
LEVEL OF TEACHING
<%=teacher.CurrTeaching%>

